body{
  padding-bottom: 500px;
  font-family: arial;
}
.login-container {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px; 
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(245, 245, 245);
}